.mat-icon .checkDone {
  color: green;
}

.mat-icon .uncheckDone {
  color: gray;
}

.mat-icon {
  padding-right: 5px;
  font-size: 15px;
  text-align: center;
  padding-left: 5px;
  padding-top: 9px;
}

.items {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px #999;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: black;
}
