<div class="lesson" [ngClass]="lesson.className" routerLink="{{ '/lessons/' + lesson.id}}" [class.disabled]="lesson.locked">
  <div class="inner-lesson">
    <h3 class="card-overline lessonName">
      {{ lesson.name }}
    </h3>
    <h2 class="card-title">
      {{ lesson.header }}
    </h2>
    <p class="details">{{ lesson.details }}</p>
  </div>

  <div *ngIf="!lesson.done && !lesson.locked" class="continue-status">
    <span>Continue</span>
  </div>
  <div *ngIf="!lesson.done && lesson.locked" class="locked-status">
    <span>Locked</span>
  </div>
</div>
