<mat-toolbar class="mat-elevation-z10">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="burger">view_headline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        Home
      </button>
      <button mat-menu-item routerLink="/home">
        All Tasks
      </button>
      <button mat-menu-item routerLink="/home">
        Logout
      </button>
    </mat-menu>

    <span class="spacer"></span>
    <span class="spacer">
      <img class="purplePie" src="./../../../assets/images/purple p.png" />
    </span>

    <a
      routerLink="achievements"
      class="achievements"
      *ngIf="(points$ | async); let points"
    >
      <img class="trophy" src="assets/images/trophy.svg" />
      <span class="points"> {{ points }} </span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
