@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.achievements {
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.burger {
  color: white;
}

.purplePie {
  max-width: 40px;
  margin-top: 5px;
}

.points {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

mat-toolbar {
  background-color: #3c4d72;
  position: fixed;
  top: 0;
  z-index: 100;
}

.hidden {
  visibility: hidden;
}
