.navbar {
  box-shadow: -1px 2px 20px 4px #999;
  height: 56px;
}

.burger {
  color: white;
}

.points {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

mat-toolbar {
  background-color: #3c4d72;
  position: fixed;
  top: 0;
}
