.navbar {
<<<<<<< HEAD
  background-color: #3c4d72;
  box-shadow: -1px 0px 5px 1px black;
=======

  box-shadow: -1px 2px 20px 4px #999;
  height: 56px;
>>>>>>> master
}

.burger {
  color: white;
}

.points {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

mat-toolbar {
  background-color: #3c4d72;
  position: fixed;
  top: 0;
}
